<>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}


:root {
    --light-gray: #F5F7FA;
    --color-one: #8D6E63 ;
    --steel-blue: #2D3E50;
    --darker-red: #CC0000;
    --deep-navy-blue: #0A2540;
    --white: #FFFFFF;

    --size-xs: 4px;
    --size-sm: 8px;
    --size-md: 16px;
    --size-lg: 32px;
    --size-xl: 64px;
    --size-xlg: 128px;

    --box-shadow : rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --background-primary: linear-gradient(135deg, #6a11cb, #2575fc);

    --font-family-secondary: 'Inter', sans-serif;
}


body {
    margin: 0;
    padding: 0;
  }

  

a {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
}

input,
select {
    height: var(--size-lg);
    border: 2px solid lavender;
}

/* fonts */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }


.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



/* variables */

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.italic {
    font-style: italic;
    font-weight: 300;
}

.red {
    color: var(--darker-red);
}

.green {
    color: darkgreen;
}

.steel-blue {
    color: var(--steel-blue);
}


.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.wrap-text {
    white-space: normal;
    overflow-wrap: anywhere;
}

/* padding */

.padding-xsm {
    padding: var(--size-xs);
}

.padding-sm {
    padding: var(--size-sm);
}

.padding-md {
    padding: var(--size-md);
}

.padding-lg {
    padding: var(--size-lg);
}

.padding-xl {
    padding: var(--size-lg);
}


.padding-top-sm {
    padding-top: var(--size-sm);
}

.padding-bottom-sm {
    padding-bottom: var(--size-sm);
}

.padding-top-md {
    padding-top: var(--size-md);
}

.padding-bottom-md {
    padding-bottom: var(--size-md);
}

/* margin */
.margin-xsm {
    margin: var(--size-xs);
}

.margin-sm {
    margin: var(--size-sm);
}

.margin-md {
    margin: var(--size-md);
}

.margin-lg {
    margin: var(--size-lg);
}

.margin-xl {
    margin: var(--size-lg);
}

.margin-top-lg {
    margin-top: var(--size-lg);
}

.margin-top-sm {
    margin-top: var(--size-sm);
}

.margin-top-md {
    margin-top: var(--size-md);
}
.margin-bottom-lg {
    margin-bottom: var(--size-lg);
}

.margin-bottom-sm {
    margin-bottom: var(--size-sm);
}

/* display */
.lightbox-display {
    background: ghostwhite;
    padding-top: var(--size-md);
    padding-bottom: var(--size-md);
    padding-left: var(--size-md);
    border: 2px solid lavender;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;

}

.subtitle {
    font-weight: 300;
    opacity: 0.5;
    text-transform: capitalize;
}

.two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: var(--size-sm);
}

.triple-column-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: var(--size-sm);
}

/* buttons */
.button {
    background: #00eaff; /* Bright cyan */
    color: #1e1e2f; 
    padding: var(--size-sm);
    font-weight: bold;
    transition: 0.3s;
    opacity: 0.8;
    cursor: pointer;
    
}

.button:hover {
    background: #6a11cb; /* Shift to purple */
    color: white;
}

/* icons */
/* nav icons */
.nav-icon {
    width: 24px;
    height: 24px;
}

.nav-icon:hover {
    transform: scale(1.1);
    opacity: 0.6;
}



/* The virtual bank dashboard */
#virtualbank-dashboard .container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
   
    height: 100vh; /* Full viewport height */
}


#main-body {
    background: rgb(247, 247, 240);
    border-left: 2px solid lavender;
    font-family: "Montserrat", sans-serif;
    padding: var(--size-md);
}


#side-dashboard {
    cursor: pointer;
    background: var(--steel-blue);


    /* grid elements */
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
}


#side-dashbard .icon {
    padding-left: var(--size-md);
    padding-right: var(--size-md);
}


#side-dashboard .main-container {
    display: flex;
    flex-direction: column;   
}

#side-dashboard .main-container div{
   margin: 2px;
}


#sidebar-icons {
    background: rgba(0, 0, 0, 0.849);
    padding-top: var(--size-xlg);
    padding-left: var(--size-md);
    padding-right: var(--size-lg);
}


.sidebar-icon {
    /* sizes */
    height: 25px;
    width: 25px;

    border-radius: 5%;
    cursor: pointer;
    margin-top: var(--size-md);
    opacity: 0.5;
}

.sidebar-icon:hover {
    transform: rotate(45deg);
    opacity: 0.7;
}



/* navigation section */
#navigation {
    border: 2px solid lavender;
    cursor: pointer;
}

#navigation:hover {
    background: ghostwhite;
}

#navigation .wrapper .nav {
  
    background: var(--white);
    padding: var(--size-lg);
    border-radius: 2%;
}

.navigation__nav-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: var(--size-lg);
}


.nav-element {
    position: relative;
}


.notification-badge {
    /* position elements */
    position: absolute;
    top: -10px;
    right: -14px;

    background-color: red;
    color: white;
    border-radius: 50%;

    cursor: pointer;
    font-weight: bold;
    font-size:  0.75rem;
    line-height: 1;
    min-width: 18px;
    padding: var(--size-xs);
    text-align: center;

  }

   /* Hide the badge if there's no count */
  .notification-badge[data-count="0"] {
    display: none;
  }

  #notification-bell-icon {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
 
  .dropdown {

   
    width: 400px;
   

  }


 

  
.dropdown,
.notification-dropdown {
    position: absolute;
    right: 10px;

    background: white;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    padding: var(--size-lg);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
    z-index: 100000;
}

.dropdown.show,
.notification-dropdown.show {
    border: 2px solid lavender;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
  }
  

.notification-dropdown {
    /* positioning */
    
    width: 800px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: var(--size-sm);
   
  }

  .profile-info {

    /* grid elements */
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    column-gap: 16px;

    background: ghostwhite;
    border: 2px solid lavender;
  }


  .profile-icon {
    width: 90px;
    height: 90px;
    transform: scale(0.8);
    cursor: pointer;
  }

  .account-icon:hover,
  .profile-icon:hover {
    transform: scale(0.6);
  }

  .account-info .value {
    font-weight: bolder;
    color: green;
  }

  .account-settings div {
    background: white;
    border: 2px solid lavender;
    display: flex;
   
    /* sizes */
    margin-top: var(--size-sm);
    padding-top: var(--size-sm);
    padding-bottom: var(--size-sm);

  }

  .account-settings div:hover {
    background-color: ghostwhite;
    color: green;
    font-weight: bold;
  }
  
  .account-settings div img {
    /* paddings */
    padding-right: var(--size-md);
    padding-left: var(--size-sm);

    height: 30px;
    transform: translateY(10px);
  
  }

 .slogan {
    color: var(--darker-red);
 }

 

 /* Notification */

 .notification-msg {
    display: grid;
    grid-template-columns: 10% 60% 15% 15%;
    grid-template-rows: auto;
    column-gap: var(--size-md);
    margin-bottom: var(--size-sm);
    
   
  
    
 }

 .notification-msg a small {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    
 }

 .notification-msg .notification-alert {
    text-decoration: none;
 }

 .notification-msg .notification-alert small {
    font-size: 0.875rem; /* 14px = 0.875rem (assuming that 1rem = 16px) */
    color: #555;
    font-weight: normal;
 }


 .no-notification {
    height: 350px;
    background: ghostwhite;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    display: none;
    overflow: hidden;
 }

 .no-notification p {
    opacity: 0.5;
 }

 .no-notification img {
    height: 60px;
    width: 60px;
    opacity: 0.4;
 }

 .notification-id  {
    color: var(--deep-navy-blue);
 }

 /* The spinner */
.spinner {
    /* display: none; */
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;      /* Light grey */
    border-top: 8px solid #3498db;  /* Blue */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;

    /* position */
    position: fixed;
    top: 20%;
    left: 60%;
    right: 50%;
    bottom: 50%;
}



/* notification buttons */ 
.mark-all-as-read-btn {
    background-color: #2D6A4F; /* Dark Green */
  
}

.mark-all-as-unread-btn {
    background-color: #6C9DC6; /* Soft Blue */
   
}

.delete-all-notifications-btn {
    background-color: #B74D57; /* Dark Red */
    
}


.small-btn {
    cursor: pointer;
    color: white;
    margin-right: var(--size-xs);
    border: none;
    padding: var(--size-sm);
    
}
button:hover {
    opacity: 0.8;
    
}


/* Section add account information */
#dashboard-header {
    background: var(--white);
    margin-top: var(--size-sm);
    border: 2px solid lavender;
    cursor: pointer;
}

#dashboard-header .wrapper {
    padding-left: var(--size-lg);
    padding-right: var(--size-lg);
}



.dashboard-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    
}

.dashboard-info p {
    text-align: center;
    border: 2px solid lavender;
    color: white;
    font-weight: 600;
    background: var(--background-primary);
    padding: var(--size-sm);
    
}


#add-account-info .wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: var(--size-xs);
    cursor: pointer;
}


#dashboard-header .wrapper,
#add-account-info  {
    font-family: var(--font-family-secondary);
}

#add-account-info h3 {
    font-weight: 200;
    border-bottom: 1px solid rgb(171, 169, 169);
    margin-top: var(--size-md);
    opacity: 0.9;
}

#add-account-info h3:first-child {
 margin-top: none;   
}


#add-account-info {
    margin-top: var(--size-sm);
}


.account-information {
    display: flex;
    justify-content: space-between;
}



/* The profile/form part */
.profile-img {
    height: 150px;
    width: 150px;
}

.profile {
    border: 2px solid lavender;
    background: var(--white);
    padding: var(--size-md);
    cursor: pointer;
}

.profile div p {
    font-family: var(--font-family-secondary);
    font-size: 0.95rem;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-form {
    background: var(--white);
    padding: var(--size-md);
    font-family: var(--font-family-secondary);
    border: 2px solid lavender;
}


.profile-form-img {
    height: 80px;
    width: 80px;
}

.avatar {
    display: flex;
    column-gap: var(--size-md);
    margin-top: var(--size-md);
}





label {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    color: #909090; 
    margin-top: var(--size-xs);
}


.profile-information {
    color: #0d3b66; 
    font-weight: 300; 
    font-size: 1rem; 
    line-height: 1.1; 
    opacity: 0.9; 
    padding: 0.3rem;
}

#dashboard-title {
    opacity: 0.8;
    text-transform: capitalize;

}


/* The  profile field */
#first-name,
#surname,
#country {
    text-transform: capitalize;

}

#country,
#state,
#postcode {
    text-align: center;
}


#email {
    text-transform: lowercase;
}



.spinner2 {
    display: none;
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;      /* Light grey */
    border-top: 8px solid #3498db;  /* Blue */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;

    /* position */
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;

}




/* Keyframes for spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
