@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}



:root {
 --main-page-width: 85%;
 --green-600: #16A34A;
 --blue-600: #2563EB;
  --space-0: 0;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --box-shadow-primary: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --box-shadow-secondary:box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-shadow-tietary: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --gradient-blue: linear-gradient(135deg, #0F4C81 0%, #1CB5E0 100%);

}



h1,
h2,
h3,
h4,
h5,
a,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html,
body {
    height: 100%;
    overflow-x: hidden;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-image: url("../images/background-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;


}


/* All sides */
.m-0  { margin: var(--space-0); }
.m-4  { margin: var(--space-4); }
.m-8  { margin: var(--space-8); }
.m-12 { margin: var(--space-12); }
.m-16 { margin: var(--space-16); }
.m-20 { margin: var(--space-20); }
.m-24 { margin: var(--space-24); }
.m-32 { margin: var(--space-32); }
.m-40 { margin: var(--space-40); }
.m-48 { margin: var(--space-48); }

/* Top */
.mt-4  { margin-top: var(--space-4); }
.mt-8  { margin-top: var(--space-8); }
.mt-16 { margin-top: var(--space-16); }
.mt-24 { margin-top: var(--space-24); }
.mt-48 {margin-top: var(--space-48);}

/* Right */
.mr-4  { margin-right: var(--space-4); }
.mr-8  { margin-right: var(--space-8); }
.mr-16 { margin-right: var(--space-16); }

/* Bottom */
.mb-4  { margin-bottom: var(--space-4); }
.mb-8  { margin-bottom: var(--space-8); }
.mb-16 { margin-bottom: var(--space-16); }

/* Left */
.ml-4  { margin-left: var(--space-4); }
.ml-8  { margin-left: var(--space-8); }
.ml-16 { margin-left: var(--space-16); }

/* Horizontal & Vertical */
.mx-8  { margin-left: var(--space-8); margin-right: var(--space-8); }
.my-8  { margin-top: var(--space-8); margin-bottom: var(--space-8); }


/* All sides */
.p-4  { padding: var(--space-4); }
.p-8  { padding: var(--space-8); }
.p-16 { padding: var(--space-16); }
.p-24 { padding: var(--space-24); }
.p-48 { padding: var(--space-48); }

/* Top */
.pt-8  { padding-top: var(--space-8); }
.pt-16 { padding-top: var(--space-16); }

/* Right */
.pr-8  { padding-right: var(--space-8); }


.pl-8 {padding-left: var(--space-8);}
.pl-16 {padding-left: var(--space-16);}
.pl-24 {padding-left: var(--space-24);}

/* Bottom */
.pb-8  { padding-bottom: var(--space-8); }
.pb-16  { padding-bottom: var(--space-16); }
.pb-24  { padding-bottom: var(--space-24); }

/* Left */
.pl-8  { padding-left: var(--space-8); }

/* Horizontal & Vertical */
.px-16 { padding-left: var(--space-16); padding-right: var(--space-16); }
.py-16 { padding-top: var(--space-16); padding-bottom: var(--space-16); }

img {
    cursor: pointer;
}

img:hover {
    opacity: 0.8;
}

.bold {
    font-weight: bold;
}

.light-bold {
    font-weight: 500;
}

.capitalise {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-1 {
    font-size: 2.2rem;
    font-weight: 300;
}

.header-2 {
    font-size: 2rem;
    font-weight: 300;
}


.header-3 {
    font-size: 1.7rem;
    
}


.header-4 {
    font-size: 1.4rem;
    font-weight: 400;
}

.header-5 {
    font-size: 1.5rem;
}


#virtual-bank-logo {
    font-size: 1.2rem;
}

.font-lg {
    font-size: 2rem;
    font-weight: 400;
   
}


/* Flex variables */

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}


.flex-grid {
    display: grid;
}

.two-column-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.three-column-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;   
}

.four-column-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.five-column-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}


.two-column-40_60_grid {
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}

.two-column-30_70_grid {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}



nav {
    width: var(--main-page-width);
    border-bottom: 2px solid lavender;
    padding-bottom: var(--space-4);
    margin-bottom: var(--space-8);
}


header {
position: relative;
  top: var(--space-12);
  left: 4%;
  right: 0;
  margin-bottom: 70px;
}





#call-to-action {
    padding-top: var(--space-48);
     background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.call-to-action__container {
    width: var(--main-page-width);
    margin: auto;
}

#call-to-action-img {
    width: 100%;
    height: 1000px;
    position: relative;
    bottom: 313px;
  
}



.call-to-action__container__info p {
    font-size: 1.1rem;
    line-height: 2;
}

.call-to-action__container__h1 {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 800;
}

.call-to-action__button {
    padding: 10px;
    width: 45%;

}

.buttom-md {
    width: 40%;
    border: 1px solid black;
}


.center {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.call-to-action__button {
    text-align: center;
}

#get-started-btn {
    background: var(--green-600);
    color: white;
}

#watch-demo-btn {
    background: var(--blue-600);
    color: white;
}

.nav-link {
    color: black;
    cursor: pointer;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #2563EB;
}

.authenticate-btns {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  
}

#login-btn {
   
    background: var(--blue-600);
    border-radius: 4%;
}

#sign-btn {
    background: var(--green-600);
}

#learn-more-btn,
#login-btn {
   
    background: var(--blue-600);
    color: white;
   
}

#signup-btn {
    background: var(--green-600);
    color: white;
    border-radius: 4%;
}

#signup-btn,
#login-btn {
    padding: var(--space-4);
}

.call-to-action__button {
    border-radius: 4%;
}




#main-image {
    position: absolute;
    top: 0;
    width: 100%;
   
   
}

#main-image:hover {
    transform: scale(1.01);
    opacity: 0.9;
}

.text-muted {
  color: #6c757d;
}


.white-text {
    color: white;
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Prevent line breaks */
  border: 0;
}


.footer-logo {
  width: 300px;   
    position: relative;
    right: 73px;
    top: 50px;
}


.logo {
    width: 300px;
    position: absolute;
    top: 0;
    transform: translate(-64px, -82px);
    left: 0;
    height: 212px;
}

.card {
    cursor: pointer;
}

.card:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

/* Features */
#features {
    position: relative;
    bottom: 590px;
    
    
}

#features-card-3 {
      background-image: url("../images/background-2.png");
}

.features__container {
    width: var(--main-page-width);
    margin: auto;
}

.features__container h1 {
   font-family: "Montserrat", sans-serif;
}

.features__h1 {
    text-transform: capitalize;
    margin-top: 100px;
}

.feature-card-img {
    height: 180px;
    width: 180px;
    
}

#feature-cards-2 {
    
    background-image: url("../images/background-2.png");
}
.features__cards {
    column-gap: var(--space-48);
    row-gap: var(--space-12);
}

.features__cards .card {
    border: 1px solid lavender;
    background: white;
    padding: var(--space-16);
    column-gap: 48px;
    row-gap: var(--space-40);
    font-family: "Montserrat", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 2%;
    
   
}

.features__cards .card .card-title h1 {
    transform: translate(5px, 50%);
    font-size: 1.2rem;
     
}

.features__cards .card .body p {
    line-height: 1.7;
    font-size: 1.1rem;
    font-weight: 500;
    transform: translateY(-3px);
}

.features__h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 100px;
}



#feature-cards-3,
#feature-cards-2 {
    background: white;
    column-gap: var(--space-32);
    box-shadow: var(--box-shadow-tietary);
    border-radius: 1%;
}

#feature-cards-2 .card .card-footer,
#feature-cards-3 .card .card-footer {
    transform: translate(-5px, 20%);
}

.border-right {
    border-right: 3px solid lavender;
    padding-right: 20px;
}

.card-footer h1 {
    font-size: 1.9rem;
    font-weight: 500;
    
}

.security__subtext, 
.features__subtext {
    font-size: 1.3rem;
}





.virtual-bank-banner__container{

    padding-top: 24px;
    padding-bottom: 24px;
    background: white;
    width: var(--main-page-width);
    margin: auto;
}


footer {
   background:
  linear-gradient(
    180deg,
    rgba(79,163,255,0.25) 0%,
    rgba(15,31,58,0.9) 0%,
    #0B1220 60%,
    #080E1A 100%
  );
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;


}

.footer__container {
    width: var(--main-page-width);
    margin: auto;
    color: white;
    position: relative;
    top: -63px;
    
}

.footer-head {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;

}

#footer-sections {

    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
}


#footer-sections div {
    border-right: 0.7px solid #6c757d;;
    padding-left: 20px;
}

#footer-sections div:nth-child(1) {
    border-right: 1px solid #b3b4b4;
    padding-left: 0;

}

#footer-sections div:last-child {
    border-right: none;
}


.footer-link {
    color: white;
    padding-top: var(--space-8);
    padding-bottom: var(--space-8);
    font-size: 0.85rem;
    text-transform: capitalize;
}

.footer-link:nth-child(1) {
    padding-top: var(--space-32);
}

#apps {
    column-gap: var(--space-8);
   
    transform: translate(-28px, 12px);
}


.social-icon {
    height: 24px;
    width: 24px;
    opacity: 0.8;
}


.socials {
    column-gap: 16px;
}

.copyright,
.socials {
     margin-top: var(--space-8);
}



.copyright-link {
    border-right: 2px solid white;
    padding-right: var(--space-16);
    padding-left: var(--space-16);
    color: white;
    font-size: 0.85rem;
    text-transform: capitalize;
}

.copyright-link:last-child {
    border-right: none;
}


.who-is-it-for__container {

    width: var(--main-page-width);
}

#who-is-it-for {
    position: relative;
    bottom: 600px;
    background: white;
}

.who-is-it-for__container {
    max-width: var(--main-page-width);
    margin: auto;
}

.card-img {
    width: 160px;
    height: 160px;
}

.learning-img {
    transform: translateX(-28px)
}

#how-it-works {
    background: white;
}

.how-it-works-img {
    width: 180px;
    height: 180px;
}